///*------------------------------------
//    # HEADINGS | FONT-SIZE DEFAULT
//------------------------------------*/

$ns-h1		:   25 !default;
$ns-h2		:   20 !default;
$ns-h3		:   18 !default;
$ns-h4		:   16 !default;