<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/front-modules.css">
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <title>Test Brujula #1</title>
</head>

<body>
    <main class="ex-main">
        <header class="ex-header">
            <div class="container">
                <div class="ex-header__container ex-header__container--center">
                    <h1 class="ex-header__title">Test Br&uacute;jula #1</h1>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="ex-main__container">
                <div class="ex-main__block">
                    <ul class="ex-list">
                    </ul>
                </div>
                <div class="ex-main__block">
                    <div class="ex-main__actions">
                        <a href="#" title="Add item" id="add" class="ex-main__button">+</a>
                        <a href="#" title="Remove item" id="remove" class="ex-main__button">-</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ex-toast ex-toast--hidden">
            <div class="ex-toast__container">
                <span class="ex-toast__text">Task completed successfully, Undo change?</span>
                <a href="#" title="Undo changes" data-undo-changes class="ex-toast__link">Undo changes!</a>
            </div>
        </div>
    </main>
</body>

</html>